/* You can add global styles to this file, and also import other style files */
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova-light/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '../../../dist/iad-interface-admin/assets/form';

.navbar-holder {
  height: 56px;
}

iad-dynamic-form .input-group > .form-control,
iad-dynamic-form .input-group > .custom-form-control {
    margin-top: auto;
    margin-bottom: auto;
    height: 38px;
    width: 100%;
}

