<div class="row">
    <div class="col-12">
        <button class="btn btn-primary" type="button" (click)="update()">Refresh table</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <iad-projection-grid #iadProjectionGrid
                             [filter]="filter"
                             [paginator]="true"
                             [projection]="projection"
                             [presentationCode]="presentationCode"
                             [refresh]="refresh"
                             [lazy]="true"
        ></iad-projection-grid>
    </div>
</div>
