<jhi-secured-image class="select-item" [src]="imageUrl" [defaultSrc]="variantDefaultSrc"
                   [imageStyle]="{height:'134px', width: '100px'}"></jhi-secured-image>

<div class="card-table-upper">
    <div class="field">
        <div class="title">Вид:</div>
        <div class="value">{{data.documentClassLabel}}</div>
    </div>
    <div class="field">
        <div class="title">Тип:</div>
        <div class="value">{{data.type}}</div>
    </div>
    <div class="field">
        <div class="title">Статус:</div>
        <div class="value">{{data.status}}</div>
    </div>
</div>
