<div class="content-heading has-border-bottom" *ngIf="projection">
    <span class="title" [jhiTranslate]="projection.label"></span>
</div>
<div class="content-flex bordered flex-center" *ngIf="projection">
    <div class="content-flex-inner">
        <div class="content-flex">
            <jhi-projection-table
                #dataTable
                class="content-flex"
                [addProjectionToQuery]="false"
                [allowUnSelectRow]="false"
                [filter]="filter"
                [items]="sourceItems"
                [presentationCode]="presentationCode"
                [projection]="projection"
                [showFilter]="showFilter"
                (selectedItem)="onSelectSourceItem($event)"
                (actionClicked)="onActionClicked($event)"
                [context]="context"
            ></jhi-projection-table>
            <div class="content-flex-footer">
                <div class="float-right">
                    <button class="big-button" type="button" (click)="close(); dataTable.emitUnSelectItem();">
                        <span class="title clear">Отмена</span>
                    </button>
                    <!--[disabled]="!form.valid"-->
                    <button class="big-button" type="button" (click)="add(); dataTable.emitUnSelectItem();">
                        <span class="title addBtn">Выбрать</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
