<div class="bottom-panel operations">
    <p-panel #referencesPanel [collapsed]="true" (onAfterToggle)="onAfterToggle($event)"  (onBeforeToggle)="$event.collapsed ? referencesPanel.expand($event.event) : referencesPanel.collapse($event.event)">
        <p-header>
            <div class="block-title link" (click)="referencesPanel.toggle($event)">
                <fa-icon [icon]="referencesPanel.collapsed ? 'chevron-up' : 'chevron-down'" class="text-left"></fa-icon>
                ОКНО СПРАВОЧНИК
            </div>
        </p-header>
        <div class="content-flex"
             style="height: 176px; max-height: 176px;">
            <jhi-tabbed-view
                *ngIf="tabProjections"
                class="content-flex"
                [currentItemsSubject]="currentItemsSubject"
                [tabProjections]="tabProjections"
                (navigateToProjection)="onNavigateToProjection($event)"
            >
                <ng-template #gridTemplate let-items="items" let-presentationCode="presentationCode" let-projection="projection">
                    <jhi-projection-table
                        class="content-flex tab-container bordered"
                        style="height: 156px; max-height: 156px;"
                        type="reference"
                        [allowUnSelectRow]="true"
                        [items]="items"
                        [presentationCode]="presentationCode"
                        [projection]="projection"
                        (selectedItem)="onSelectItem($event)"
                        (actionClicked)="onActionClicked($event)"
                    ></jhi-projection-table>
                </ng-template>
            </jhi-tabbed-view>
        </div>
    </p-panel>
</div>
