<ng-template [ngIf]="presentation">
    <div class="right-pane-controls">
        <div class="bordered dropdown" ngbDropdown #contentHeadingDropdown="ngbDropdown">
            <div class="content-heading has-dropdown has-border-bottom">
                <a ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
                    <fa-icon [icon]="'bars'"></fa-icon>
                </a>
                <span class="title">{{projection.label | translate}}</span>
            </div>
            <ul class="dropdown-menu" ngbDropdownMenu>
                <li *ngFor="let variant of presentation.dataProjections" (click)="changeSection(variant)"
                    [ngClass]="{'active' : projection === variant}">
                    <span>{{variant.label | translate}}</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="right-pane-content">
        <div class="inner">

            <div class="common-fields" [ngSwitch]="presentationCode">
                <jhi-operation-preview *ngSwitchCase="'operation'" [data]="data" [selection]="selection"></jhi-operation-preview>
                <jhi-resolution-preview *ngSwitchCase="'resolution'" [data]="data" [selection]="selection"></jhi-resolution-preview>
                <jhi-document-preview *ngSwitchDefault [data]="data" [documentPhotoField]="projection.documentPhoto" [presentationCode]="presentationCode"></jhi-document-preview>
            </div>

            <div class="data-fields">
                <perfect-scrollbar style="max-height:100%">
                    <div class="card-table">
                        <div *ngFor="let field of projection.fields" class="field">
                            <div class="title">{{field.label}}</div>
                            <div class="value" [ngSwitch]="field.formatter">
                                <ng-container *ngSwitchCase="'ZonedDateTime'">{{data[field.code] | moment | date:'medium'}}</ng-container>
                                <ng-container *ngSwitchCase="'Date'">{{data[field.code] | moment | date:'mediumDate'}}</ng-container>
                                <ng-container *ngSwitchDefault>{{data[field.code]}}</ng-container>
                            </div>
                        </div>
                    </div>
                </perfect-scrollbar>
            </div>
        </div>
    </div>
</ng-template>
