<div class="header-block">
    <ng-template [ngIf]="profileCardFields">
        <jhi-secured-image [src]="image" defaultSrc="default-profile.png"
                           [imageStyle]="{height:'174px',width:'130px'}"></jhi-secured-image>
        <div class="account-info">
            <ng-template ngFor let-item [ngForOf]="profileCardFields">
                <div class="field-{{item.code}}">
                    <div class="label label-{{item.code}}">
                        <ng-container *ngIf="item.translateLabel; then translateLabel; else noTranslateLabel"></ng-container>:
                        <ng-template #translateLabel>{{item.label | translate}}</ng-template>
                        <ng-template #noTranslateLabel>{{item.label}}</ng-template>
                    </div>
                    <div class="value value-{{item.code}}">
                        <ng-container *ngIf="item.translateValue; then translateVal; else noTranslateVal"></ng-container>
                        <ng-template #translateVal>{{item.value | translate}}</ng-template>
                        <ng-template #noTranslateVal>{{item.value}}</ng-template>
                    </div>
                </div>
            </ng-template>
            <ng-content></ng-content>
        </div>
    </ng-template>
</div>
