<ul class="ui-submenu-list" [@submenu]="expanded ? 'visible' : 'hidden'">
    <ng-template ngFor let-child [ngForOf]="item.items">
        <li *ngIf="child.separator" class="ui-menu-separator ui-widget-content">
        <li *ngIf="!child.separator" class="ui-menuitem ui-corner-all" [ngClass]="child.styleClass"
            [class.ui-helper-hidden]="child.visible === false" [ngStyle]="child.style">
            <a *ngIf="!child.routerLink" [href]="child.url||'#'" class="ui-menuitem-link ui-corner-all"
               [attr.tabindex]="item.expanded ? null : '-1'" [attr.id]="child.id"
               [ngClass]="{'ui-state-disabled':child.disabled}"
               (click)="handleClick($event,child)" [attr.target]="child.target" [attr.title]="child.title">
                <span class="ui-menuitem-text">{{child.label}}</span>
            </a>
            <a *ngIf="child.routerLink" [routerLink]="child.routerLink" [queryParams]="child.queryParams"
               [routerLinkActive]="'ui-state-active'"
               [routerLinkActiveOptions]="child.routerLinkActiveOptions||{exact:false}"
               class="ui-menuitem-link ui-corner-all"
               [ngClass]="{'ui-state-disabled':child.disabled}" [attr.tabindex]="item.expanded ? null : '-1'"
               [attr.id]="child.id"
               (click)="handleClick($event,child)" [attr.target]="child.target" [attr.title]="child.title">
                <span *ngIf="!child.params;then menuItem else unsignedMenuItem"></span>
                <ng-template #menuItem class="ui-menuitem-text">{{child.label}}</ng-template>
                <ng-template #unsignedMenuItem class="ui-menuitem-text">
                    <span>{{child.label}} </span>
                    <span class="ui-resolution-counter">[{{child.params["toSign"]}}]</span>
                </ng-template>
            </a>
            <jhi-panel-menu-sub [item]="child" [expanded]="child.expanded" *ngIf="child.items"></jhi-panel-menu-sub>
        </li>
    </ng-template>
</ul>
