<div class="content-flex-wrapper" *ngIf="formInputGroup">
    <div class="content-heading has-border-bottom">
        <span class="title">
            <jhi-catalog-tree-breadcrumbs-component
                [additionalLabels]="[formProjection.title]"
            ></jhi-catalog-tree-breadcrumbs-component>
        </span>
    </div>
    <div class="content-flex bordered">
        <div class="content-flex-inner">
            <jhi-dynamic-form
                class="content-flex form-wrapper flex-center"
                [formInputGroup]="formInputGroup"
                [serverError]="serverError"
                [inputComponents]="inputComponents"
                (formSubmit)="onFormSubmit($event)"
                (formCancel)="onFormCancel()"
                [context]="predefinedValues"
            ></jhi-dynamic-form>
        </div>
    </div>
    <jhi-grid-lookup-source class="content-flex"></jhi-grid-lookup-source>
    <jhi-operations></jhi-operations>
    <jhi-references></jhi-references>
</div>
