<jhi-document-resolutions
    [operations]="operations"
></jhi-document-resolutions>

<div class="controls-wrapper">

    <form (ngSubmit)="onSubmit()" [formGroup]="actionsForm">

        <div class="buttons">

            <!--ng-disabled="saving"-->
            <button class="big-button float-left" type="button" [disabled]="sending" (click)="close()">
                <span class="title clear">Отмена</span>
            </button>

            <button class="big-button float-right" type="submit" [disabled]="sending" >
                <span class="title discardBtn">{{'partnerGatewayApp.partnerDocuments.actions.remove' | translate}}</span>
            </button>

            <jhi-tooltip-notifier position="top-right" class="form-errors float-right" *ngIf="actionsForm.invalid && errors" caption="Ошибка!" [text]="errors" size="32"></jhi-tooltip-notifier>

        </div>

    </form>
</div>
