<jhi-data-table
    [allowUnSelectRow]="allowUnSelectRow"
    [changeTableHeight]="changeTableHeight"
    [defaultSortField]="defaultSortField"
    [doTableAction]="actionClicked"
    [doRefresh]="refreshConfig"
    [groupSettingsKey]="groupSettingsKey"
    [items]="items"
    [lazyLoadingEnabled]="true"
    [onBuildQuery]="onBuildQuery"
    [searchUrl]="searchUrl"
    [showFilter]="showFilter"
    [showSearchPanel]="showSearchPanel"
    [staticFrozenColumns]="staticFrozenColumns"
    [staticFrozenRightColumns]="staticFrozenRightColumns"
    [staticFrozenRightWidth]="staticFrozenRightWidth"
    [staticFrozenWidth]="staticFrozenWidth"
    [unSelectRow]="unSelectRow"
    [updateVisibility]="updateVisibility"
    (onSettingChanged)="onSettingChanged($event)"
    (selectionChange)="onSelectionChange($event)"
>
</jhi-data-table>
