<form (ngSubmit)="onSubmit()" [formGroup]="form" class="content-flex" autocomplete="off">
    <fieldset class="content-flex">
        <ng-template ngFor let-child [ngForOf]="formInputGroup.children">
            <ng-container *ngIf="child.length === 1; then singleColumn; else multiColumn"></ng-container>
            <ng-template #singleColumn>
                <div [jhiDynamicField]="child[0]" [context]="context" [inputComponents]="inputComponents" [group]="form" styleClass="form-row mb-2" (touched)="onTouched(child[0])"></div>
            </ng-template>
            <ng-template #multiColumn>
                <div class="form-row mb-2">
                    <div *ngFor="let grandChild of child; let i = index" class="col-12 col-lg-{{calculateColumns(child)}}">
                        <ng-container [jhiDynamicField]="child[i]"  [context]="context" [inputComponents]="inputComponents" [group]="form" styleClass="form-row mb-2" (touched)="onTouched(child[i])"></ng-container>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </ng-template>
        </ng-template>
    </fieldset>

    <div class="content-flex-footer">
        <button class="big-button float-left" type="button"
                [ngClass]="{ 'active' : helpActive }"
                (click)="help()">
            <span class="title helpBtn">Помощь</span>
        </button>
        <div class="float-right">
            <jhi-tooltip-notifier position="top-right" class="form-errors float-left" styleClass="error-tooltip" [activated]="errors" caption="Ошибка!" [text]="errors" size="32"></jhi-tooltip-notifier>
            <button class="big-button" type="button" (click)="cancel()" [disabled]="sending">
                <span class="title clear">Отмена</span>
            </button>
            <button class="big-button" [disabled]="form.invalid || sending" type="submit">
                <span class="title save">Сохранить</span>
            </button>
        </div>
    </div>
</form>
