<div class="bottom-panel operations">
    <p-panel #operationsPanel [collapsed]="true" (onAfterToggle)="onAfterToggle($event)" (onBeforeToggle)="$event.collapsed ? operationsPanel.expand($event.event) : operationsPanel.collapse($event.event)">
        <p-header>
            <div class="block-title link" (click)="operationsPanel.toggle($event)">
                <fa-icon [icon]="operationsPanel.collapsed ? 'chevron-up' : 'chevron-down'" class="text-left"></fa-icon>
                ОКНО ОПЕРАЦИЙ
            </div>
        </p-header>
        <div class="content-flex"
             style="height: 156px; max-height: 156px;">
            <jhi-projection-table
                *ngIf="projection && operations.length > 0"
                class="content-flex bordered"
                presentationCode="common"
                style="height: 156px; max-height: 156px;"
                type="operation"
                [allowUnSelectRow]="true"
                [items]="operations"
                [projection]="projection"
                [unSelectRow]="unSelectRow"
                (selectedItem)="onSelectItem($event)"
                (actionClicked)="onActionClicked($event)"
            ></jhi-projection-table>
        </div>
    </p-panel>
</div>
